<section class="LoginManagerScreen">
  <form [formGroup]="loginManagerForm" (ngSubmit)="onSubmit()">
    <h1>Inicio de Sesion</h1>
    <div>
      <label>E-mail:</label>
      <input type="email" id="email" formControlName="correo" placeholder="Ingrese su correo">
    </div>
    <div>
      <label>Contraseña:</label>
      <input type="password" id="password" formControlName="contrasena" placeholder="Ingrese su contraseña">
    </div>
    <button type="submit" [disabled]="!loginManagerForm.valid">Ingresar</button>
    <div class="redirection">
      <p>¿Eres Cliente?</p><p class = "ClientButton" routerLink ="/loginClient">Click aquí</p>
    </div>
  </form>
</section>
