.SectionScreen{
  background: url('../../../assets/images/banner.png') no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

form {
  border:3px solid #09742D;
  background-color:  #D3F2CE;
  border-radius: 45px;
  padding: 15px;
  padding-bottom: 45px;
  width: 350px;
  height: 240px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 250px;
  font-size: 12px;
}

.titleSS{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #000000
}

button {
  color: #8B4513;
  display: block;
  background-color: #FFA726;
  padding: 10px 25px;
  border: 2px solid #0077C2;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px auto;
  width: 320px;
  font-size: 18px;
}

button:hover {
  color: #8B4513;
  background-color: white;
  font-weight: bold;
}

.type{
  text-align: left;
  margin-left: 10px;
  font-size: 18px;
}

p{
  color: black;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}
