<div class="filter-container">
  <input type="text" [(ngModel)]="clientIdSearchTerm" placeholder="Ingrese el ID del Cliente" />
  <button (click)="searchCreditsByClientId()">Buscar</button>
</div>

<div class="credit-list">
  <div *ngFor="let credit of filteredCredits" class="credit-item" (click)="CreditDetails(credit)">
    <p>Cliente ID: {{ credit.clienteId }}</p>
    <p>Monto: {{ credit.monto }}</p>
    <p>Tasa de Interés: {{ credit.tasaInteres }}%</p>
    <p>Fecha Inicio: {{ credit.fechaInicio | date }}</p>
    <p>Duración (meses): {{ credit.duracionMeses }}</p>
    <p>Confiabilidad: {{ credit.confiabilidad }}</p>
  </div>
</div>

<div *ngIf="selectedCredit" class="credit-details">
  <h3>Detalles del crédito:</h3>
  <p>Cliente ID: {{ selectedCredit.clienteId }}</p>
  <p>Monto: {{ selectedCredit.monto }}</p>
  <p>Tasa de Interés anual: {{ annualEffectiveRate.toFixed(2) }}%</p>
  <p>Interés Total: {{ calculateInteresTotal(selectedCredit).toFixed(2) | currency }}</p>
  <p>Límite de Crédito: {{ creditLimit | currency }}</p>
  <p>Crédito Utilizado: {{ totalUsedCredit | currency }}</p>
  <p>Cuota Mensual: {{ monthlyInstallment | currency }}</p>

  <div *ngIf="checkCreditLimit()">
    <p style="color: red;">¡Ha superado el límite de crédito!</p>
  </div>

  <div *ngIf="isPaymentLate()">
    <p style="color: red;">El pago está atrasado. Se aplicará una tasa de interés moratoria del {{ moratoryInterestRate }}%</p>
  </div>
</div>
