<div class="credit-list">
  <div *ngFor="let credit of credits" class="credit-item" (click)="CreditDetails(credit)">
    <p>Cliente ID: {{ credit.clienteId }}</p>
    <p>Monto: {{ credit.monto }}</p>
    <p>Tasa de Interés: {{ credit.tasaInteres }}%</p>
    <p>Fecha Inicio: {{ credit.fechaInicio }}</p>
    <p>Duración (meses): {{ credit.duracionMeses }}</p>
    <p>Confiabilidad: {{ credit.confiabilidad }}</p>
  </div>
</div>

<div *ngIf="selectedCredit" class="credit-details">
  <h3>Detalles del crédito:</h3>
  <p>Cliente ID: {{ selectedCredit.clienteId }}</p>
  <p>Monto: {{ selectedCredit.monto }}</p>
  <p>Tasa de Interés anual: {{ calculateAnnualRate(selectedCredit.confiabilidad) }}</p>
  <p>Interés Total: {{ calculateInteresTotal(selectedCredit) }}</p>
  <p>Límite de Crédito: {{ creditLimit }}</p>
  <p>Tasa Efectiva Anual: {{ annualEffectiveRate }}</p>
  <!-- Aquí puedes añadir más detalles según sea necesario -->
</div>
