.credit-list {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.credit-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
}

.credit-item:hover {
  background-color: #e0e0e0;
}

/* Estilos para los detalles del crédito seleccionado */
.credit-details {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
}

.credit-details h3 {
  margin-bottom: 5px;
}

.credit-details p {
  margin-bottom: 3px;
}
