 <section class="credits-screen">
   <h1>Créditos</h1>
  <div class="centered-container">

    <form class="form-group" (ngSubmit)="addCredit()">
      <div class="form-group">
        <label for="clienteId">ID del Cliente:</label>
        <input type="text" id="clienteId" [(ngModel)]="newCredit.clienteId" name="clienteId">
      </div>
      <div class="form-group">
        <label for="monto">Monto:</label>
        <input type="number" id="monto" [(ngModel)]="newCredit.monto" name="monto">
      </div>
      <div class="form-group">
        <label for="duracionMeses">Duración (Meses):</label>
        <input type="number" id="duracionMeses" [(ngModel)]="newCredit.duracionMeses" name="duracionMeses">
      </div>
      <button type="submit" class="submit-button">Añadir Crédito</button>
    </form>
  </div>
 </section>
