<section class="ClientMenuScreen">
  <mat-toolbar class="clientTab" color="primary">
    <p>Bienvenido {{ClientName}} {{ClientLastName}}</p>
  </mat-toolbar>
  <section class="MenuCliente">
        <div class="container">
            <div class="details">
                <h3>Detalles</h3>            
                <img id="imgIcono" src='https://cdn.icon-icons.com/icons2/1863/PNG/512/notifications-active_118870.png' alt="Icono" img>
            </div> 
            <div class="info">
                <div>
                    <img id="imgCliente" src= {{fotoPerfil}} alt="Imagen Izquierda" img>
                    <table class = "tableClient">
                        <tr>
                            <td>Nombre</td>
                            <td><input class = "clientbox" type="text" readonly name="nombre" value={{ClientName}}></td>
                        </tr>
                        <tr>
                            <td>Apellido</td>
                            <td><input class= "clientbox" type="text" readonly name="apellido" value="{{ClientLastName}}"></td>
                        </tr>
                        <tr>
                            <td>DNI</td>
                            <td><input class="clientbox" type="text" readonly name="dni" value=""></td>
                        </tr>
                    </table>
                </div>             
                    <h5>Compras realizadas:</h5> 
                    <div class = "TableC">                   
                    <div>
                        <div>
                            <div *ngFor="let purchase of purchases">
                              <table border="1">
                                <tr>
                                  <td>{{ purchase.name }}</td>
                                </tr>
                                <tr>
                                  <td>Item 1</td>
                                  <td>Costo Total</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Item 2</td>
                                  <td>Tasa</td>
                                  <td>Fecha de pago</td>
                                </tr>
                                <tr>
                                  <td>Item 3</td>
                                  <td>Mora</td>
                                  <td>Total a pagar</td>
                                </tr>
                              </table>
                              <br>
                            </div>
                          </div>                          
                </div>   
            </div>           
            </div>
        </div>
</section>
